/* Global styles */

/* Set a dark background color for the body */
body {
  background-color: #ffffff;
  color: #423e3e;
}

/* Style the main container */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

/* Style the navigation links */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

nav a {
  color:  #423e3e;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color:  #423e3e;
}

/* Style the headings */
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}


.container {
  display: flex;
  cursor: pointer;
}

.column {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.container a {
  color: #423e3e;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.container a:hover {
  color: #0b872e;
}
